<!DOCTYPE html>

<br><a href="/log_in/customer">Logout</a> |
<a href="/space/form">List a property</a> | <br>
  <!-- some other buttons here at the top -->
<style>
  html {
    height: 100%;
  }

  body {
    height: 100%;
    background: linear-gradient(45deg, #946F09, #943009);
    font-family: Sono, monospace;
    color: white;
    text-align: center;
  }

  h2 {
    font-size: 50px;
  }

  a {
    color: black;
    font-size: 22px;
  }
</style>

<html>
  <head>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">

    <title>Available spaces</title>

        <link rel="stylesheet" href="/style.css" >
  </head>
  <body>

    <h2><% @all_spaces.each do |record| %></h2>
      <div>
        <a href="/space?id=<%=record.id%>"><%=record.property_name%></a> |
        <%= record.property_description %> |
        £<%= record.property_price %> per night | <a href="/space/edit?id=<%=record.id%>">Edit</a>
        <p>============================================</p>
        </div>
    <% end %>

  </body>
</html>