  <!-- maybe a picture for each property? -->
  <!-- to add some "real data" for users, owners, properties in the DB-->
  <!-- to display the dates properly, not in array format (iterate and separate in boxes) -->

<!DOCTYPE html>
<html>
  <head>
    <title>Space Details</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Sono&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Sono&display=swap" rel="stylesheet">
    <style>

      html {
        height: 100%;
      }

      body {
        height: 100%;
        background: linear-gradient(45deg, #946F09, #943009);
        font-family: Sono, monospace;
        color: white;
        text-align: center;
      }

      h1 {
        font-family: Lobster, monospace;
        font-size: 60px;
        margin-top: 20px;
        color: #092E94;
      }

      h2 {
        font-size: 35px;
        margin-bottom: 50px;
        color: black;
      }

      p {
        font-size: 24px;
        margin-bottom: 10px;
      }

      a {
        color: black;
        font-size: 22px;
        margin-top: 20px;
      }


      img {
        max-width: 400px;
        border-radius: 15px;
      }

=======
        table,tr,td{
        border: 1px solid #eee;
        border-collapse: collapse;
        padding: 0.5rem;
        
    }  
   

    </style>
  </head>
  <body>
  <br><a href="/log_in/customer">Logout</a> | <a href="/space/all">Go back</a>
    <h1> MakersBnB </h1>
      <h2> <%=@space_name%> </h2>
    <p><%=@space_description%></p>
    <p><%=@space_price%></p> 

    <p><%=@dates[params[:id].to_i - 1]%></p>
    <p> <img src="<%= @images[params[:id].to_i - 1] %>"> </p>

    <table style="border:1px solid black;margin-left:auto;margin-right:auto;">
            <tr>
             <th>Available Dates: </th>
            </tr>
         <%@dates[params[:id].to_i - 1].each do |date|%>
            <tr>
                <td><%=date%></td>
            </tr>
         <%end%>
        </table>

    <br>
    
  </body>
</html>

